@mixin breakpoint-lg {
    @media screen and (min-width:992px) {
        @content;
    }
}

@mixin transform($parameters) {
    --webkit-transform: $parameters;
    -ms-transform: $parameters;
    transform: $parameters;
}